body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}
.container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}
h2{
    text-align:center;
}
input{
    width:100%;
    padding:10px;
    margin-top:10px;
}
button{
    width:100%;
    padding:10px;
    margin-top:15px;
    background:#007bff;
    color:white;
    border:none;
}
.result{
    margin-top:20px;
}